{% extends "layout.html" %}
{% block body %}
<body>

  <!--Start login Form-->
  <section class="login-page pad-tb">
    <div class="v-center m-auto">
      <a href="#" class="d-block text-center mb30"><img src="images/white-logo.png" alt="Logo" class="mega-darks-logo"></a>
      <div class="login-form-div">        
        <h4 class="mb40 text-center">Login to your Account</h4>
        <div class="form-block">
          <form id="contact-form" action="/admin" method="post" >
            <div class="fieldsets row">
              <div class="col-md-12 form-group">
                <input id="uname" name="uname" type="text"  placeholder="Username" required="required">
              </div>
              <div class="col-md-12 form-group">
                <input id="pass" name="pass" type="password"   placeholder="password" required="required">
              </div>
            </div>
            <div class="fieldsets row mt20">
              <div class="col-md-6 form-group v-center">
                <button type="submit" class="lnk btn-main bg-btn">Admin Login <span class="circle"></span></button>
              </div>
              <div class="col-md-6 form-group v-center text-right"><a href="#" class="psforgt">Forgot Password?</a>     </div>
            </div>            
            <hr class="mt30 mb30">
            <div class="text-center">
              <p class="mb20">or Login with:</p>
              <div class="social-btnnxx">
                <a href="#" class="btn-main fb-btn"><i class="fab fa-facebook-f"></i> Facebook</a>                
                <a href="#" class="btn-main google-btn"><i class="fab fa-google"></i> Google</a>
              </div>
            </div>            
          </form>
        </div>
      </div>      
      </div>      
    </section>
    <!--End login Form-->



{% endblock %}